Module.symvers
modules.order
app/vmm
app/*.o
kernelmodule/*.ko
kernelmodule/*.o
kernelmodule/*.d
kernelmodule/*.cmd
kernelmodule/Module.symvers
kernelmodule/modules.order
kernelmodule/.tmp_versions/
kernelmodule/vmm.mod
kernelmodule/vmm.mod.c
